<div class="createShelter">
  <h3><%= link_to "#{@shelter.name}", "/shelters/#{@shelter.id}" %></h3>
  <div class="formAlign">
    <%= form_tag "/shelters/#{@shelter.id}", method: :patch do %>

      <div class="formField">
        <%= label_tag :name %>
        <%= text_field_tag :name %>
      </div>

      <div class="formField">
        <%= label_tag :address %>
        <%= text_field_tag :address %>
      </div>

      <div class="formField"> 
        <%= label_tag :city %>
        <%= text_field_tag :city %>
      <div class="formField"> 

      <div class="formField">
        <%= label_tag :state %>
        <%= text_field_tag :state %>
      </div>
      
      <div class="formField"> 
        <%= label_tag :zip %>
        <%= text_field_tag :zip %>
      </div>

      <div class="formField"> 
        <%= submit_tag 'Save' %>
      </div>
    <% end %>
  </div>
</div>