<div class="effect2" id="pageTitle"> <%= image_tag "https://i.imgur.com/FfMpjrW.jpg" %></div>

<div class="shelterBox">
  <% @shelters.each do |shelter| %>
    <div class="shelterContentBox">
      <h3><%= link_to "#{shelter.name}", "shelters/#{shelter.id}" %></h3>
      <p><%= shelter.address %></p>
      <p><%= shelter.city %>, <%= shelter.state %></p>
      <p><%= shelter.zip %></p>
      <p id=<%= "shelter_#{shelter.id}" %>><%= link_to 'Edit Shelter', "/shelters/#{shelter.id}/edit" %></p>
      <p id=<%= "delete_#{shelter.id}" %>><%= link_to 'Delete', "/shelters/#{shelter.id}", method: :delete  %></p>
    </div>
  <% end %>
</div>
