<h3 class="shelterPetsIndexHeader">Pets availabe at <%= link_to "#{@shelter.name}", "/shelters/#{@shelter.id}" %>:</h3>

<% @shelter.pets.each do |pet| %>
  <div class="shelterIndexBlock">
    <div class="effect2"><%= image_tag(pet.image) %></div>
    <p>Name: <%= link_to "#{pet.name}", "/pets/#{pet.id}" %></p>
    <p>Age: <%= pet.age %></p>
    <p>Sex: <%= pet.sex %></p>
    <p>Description: <%= pet.description %></p>
    <p id=<%= "delete_#{pet.id}" %>><%= link_to 'Delete', "/shelters/#{@shelter.id}/pets/#{pet.id}", method: :delete %></p>
  </div>
<% end %>
<div class="shelterPetsIndexCreatePet">
  <%= link_to 'Create Pet', "/shelters/#{@shelter.id}/pets/new" %>
</div>
