<h3>Pets availabe at <%= link_to "#{@shelter.name}", "/shelters/#{@shelter.id}" %>:</h3>

<% @shelter.pets.each do |pet| %>
  <%= image_tag(pet.image) %>
  <p>Name: <%= link_to "#{pet.name}", "/pets/#{pet.id}" %></p>
  <p>Age: <%= pet.age %></p>
  <p>Sex: <%= pet.sex %></p>
  <p>Description: <%= pet.description %></p>
  <p id=<%= "delete_#{pet.id}" %>><%= link_to 'Delete', "/shelters/#{@shelter.id}/pets/#{pet.id}", method: :delete %></p>
<% end %>
<%= link_to 'Create Pet', "/shelters/#{@shelter.id}/pets/new" %>
