<h3>Pets availabe at <%= link_to "#{@shelter.name}", "/shelters/#{@shelter.id}" %>:</h3>

<%= @shelter.pets.each do |pet| %>
  <%= image_tag(pet.image) %>
  <p><%= pet.name %></p>
  <p><%= pet.age %></p>
  <p><%= pet.sex %></p>
  <p id=<%= "delete_#{pet.id}" %>><%= link_to 'Delete', "/shelters/#{@shelter.id}/pets/#{pet.id}", method: :delete %></p>
<% end %>

<%= link_to 'Create Pet', "/shelters/#{@shelter.id}/pets/new" %>
