<h1>All Pets</h1>

<% @pets.each do |pet| %>
  <h3><%= pet.name %></h3>
  <p><%= image_tag(pet.image) %></p>
  <p><%= pet.age %></p>
  <p><%= pet.sex %></p>
  <p><%= pet.description %></p>
  <p><%= pet.status %></p>
  <p id=<%= "pet_#{pet.id}" %>><%= link_to 'Edit Pet', "/pets/#{pet.id}/edit" %></p>
  <p><%= @shelters.find(pet.shelter_id)[:name] %></p>
<% end %>
