<h1>All Pets</h1>

<% @pets.each do |pet| %>
  <h3><%= pet.name %></h3>
  <p><%= image_tag(pet.image) %></p>
  <p><%= pet.age %></p>
  <p><%= pet.sex %></p>
  <p><%= pet.description %></p>
  <p><%= pet.status %></p>
  <p><%= link_to "#{@shelters.find(pet.shelter_id)[:name]}", "/shelters/#{pet.shelter_id}" %></p>
  <p id=<%= "pet_#{pet.id}" %>><%= link_to 'Edit Pet', "/pets/#{pet.id}/edit" %></p>
  <p id=<%= "delete_#{pet.id}" %>><%= link_to 'Delete', "/pets/#{pet.id}", method: :delete %></p>
<% end %>
