<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class= "topnav">
      <div class="dropdown">
        <%# <div class="dropbtn">Shelters</div> %>
          <div class="dropdown-content">
            <div class="dropdownLink"><%= link_to 'Home', '/', :class => 'menuLink' %></div>
            <div class="dropdownLink"><%= link_to 'Shelters', '/shelters', :class => 'menuLink' %></div>
            <div class="dropdownLink"><%= link_to 'Pets', '/pets', :class => 'menuLink' %></div>
            <div class="menuLinkRight"><%= link_to 'New Shelter', '/shelters/new', :class => 'menuLink' %></div>
          </div>
        </div>
      </div>
    </div>

    <div id="viewContainer">
      <%= yield %>
    </div>
  </body>
</html>
